<aside class="small-12 large-4 columns page-content recent-posts">
	<h3> <strong>Contact</strong>: <a href="mailto:nathan.upham@asu.edu">nathan.upham@asu.edu</a>
    	<dd>School of Life Sciences</dd>
    	<dd>Arizona State University</dd>
    	<dd>Walton Center for Planetary Health</dd>
    	<dd>777 E University Dr</dd>
   	 	<dd>Tempe, AZ 85281 USA</dd>
	</h3>

  <h2>Latest news...</h2><h4><a href="https://n8u.org/blog/2014/archive">ARCHIVE</a></h4>
  <ul>
    {% for post in site.posts limit:7 site.recent_posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
</aside>
