<aside class="small-12 large-4 columns page-content recent-posts">
	<h3> <strong>Contact</strong>: <a href="mailto:nathan.upham@yale.edu">nathan.upham@yale.edu</a>
    	<dd>Ecology and Evolutionary Biology</dd>
    	<dd>Yale University</dd>
    	<dd>165 Prospect St, OML 122</dd>
   	 	<dd>New Haven, CT, 06511 USA</dd>
	</h3>

  <h2>Latest news...</h2><h4><a href="https://n8u.org/archive.html">ARCHIVE</a></h4>
  <ul>
    {% for post in site.posts limit:7 site.recent_posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
</aside>
